<!-- extending base template -->
{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block content %}
<h1 align="center">Notes</h1>
<p> Here, you will be able to jot down any notes you may have and delete the ones you don't need anymore. Give it a try!</p>
<!-- list allowing to show different notes -->
<ul class="list-group list-group-flush" id="notes">
    <!-- passing user in user.notes we can access all the notes associated with the user from meodels.py has a notes field -->
    {% for note in user.notes %}
    <!-- the text associated with the note -->
    <li class="list-group-item">
        {{note.data}}
        <button type="button" class="close" onclick="deleteNote('{{ note.id }}')">
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor %}
</ul>
<form method="POST">
    <textarea 
    name="note" 
    id="note" 
    class="form-control">
    </textarea>
    <br />
    <div align="center">
        <button 
        type="submit" 
        class="btn btn-primary">
        Add Note</button>
    </div>
</form>
{% endblock content%}